<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2><%= @team.location + " " + @team.name %></h2>
    <h3><%= @team.coach %><br></h3>
  </body>
</html>
