<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @players.each do |player| %>
    <%= "Name: " + player.name%><br>
    <%="PPG: " + player.avg_points + ", "%><br>
    <% end %>
  </body>
</html>
