<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Name: <%= @player.name %><br></h2>
    <h3><%= @player.team.name %><br></h3>
    <h3><%= @player.college %><br></h3>
    <h3><%= @player.draft_year %><br></h3>
  </body>
</html>
