<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form action="/cars" method="POST">
      <label for="owner">Owner</label>
      <select name="owner">
          <% Owner.all.each do |owner| %>
            <option value="<%= owner.id %>"><%=owner.name%></option>
          <% end %>
      </select>

      <label for="make">Make</label>
      <input type="text" name="cars[make]">

      <label for="model">Model</label>
      <input type="text" name="cars[model]">

      <label for="year">Year</label>
      <input type="text" name="cars[year]">
      <input type="submit">
    </form>

  </body>
</html>
